<h1>Listing farms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Picture</th>
    <th>Owner</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @farms.each do |farm| %>
  <tr>
    <td><%= farm.name %></td>
    <td><%= farm.description %></td>
    <td><%= image_tag(farm.picture.url, :size => "160x120") unless farm.picture.nil? %></td>
    <td><%= farm.owner.name unless farm.owner.nil? %></td>
    <td><%= farm.location %></td>
    <td><%= link_to 'Show', farm %></td>
    <td><%= link_to 'Edit', edit_farm_path(farm) %></td>
    <td><%= link_to 'Destroy', farm, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Farm', new_farm_path %>
