<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @farm.name %>
</p>

<p>
  <b>Description:</b>
  <%= @farm.description %>
</p>

<p>
  <b>Picture:</b>
  <%= image_tag(@farm.picture.url) %> <br />
  <%= @farm.picture %>
</p>

<p>
  <b>Owner:</b>
  <%= @farm.owner.name if !@farm.owner.nil? %>
</p>

<p>
  <b>Location:</b>
  <%= @farm.location %>
</p>


<%= link_to 'Edit', edit_farm_path(@farm) %> |
<%= link_to 'Back', farms_path %>
