<p id="notice"><%= notice %></p>

<p>
  <b>Buyer:</b>
  <%= @purchase.buyer.name %>
</p>

<p>
  <b>Offer:</b>
  <%= @purchase.offer.title %>
</p>

<p>
  <b>Product:</b>
  <%= @purchase.product.name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @purchase.quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @purchase.price %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
