<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @offer.title %>
</p>

<p>
  <b>Description:</b>
  <%= @offer.description %>
</p>

<p>
  <b>Location:</b>
  <%= @offer.location %>
</p>

<p>
  <b>Date:</b>
  <%= @offer.date %>
</p>

<p>
  <b>Responsible:</b>
  <%= @offer.responsible %>
</p>

<p>
  <%= render "products/list" %>
</p>


<%= link_to 'Purchase', new_purchase_path + "?offer=#{@offer.id}" %> |
<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
